# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/cmake-build*
/.idea
/.PVS-Studio
/build*
/test.bmp
/test.gif
/benchmark_results.md
/*.vdb
/*.vox
/.vscode
/TestResults
/*.gcov
/test.log
/Testing
/build_linux_release
/test_results
