[submodule "EzExpr"]
	path = EzExpr
	url = https://github.com/aiekick/EzExpr.git
[submodule "EzGraph"]
	path = EzGraph
	url = https://github.com/aiekick/EzGraph.git
[submodule "EzIni"]
	path = EzIni
	url = https://github.com/aiekick/EzIni.git
[submodule "EzXml"]
	path = EzXml
	url = https://github.com/aiekick/EzXml.git
[submodule "EzGui"]
	path = EzGui
	url = https://github.com/aiekick/EzGui.git
[submodule "EzGL"]
	path = EzGL
	url = https://github.com/aiekick/EzGL.git
