name: Code Coverage

on:
  workflow_dispatch:
  push:
    branches: [master]
    paths-ignore:
      - 'doc/**'
      - '.gitignore'
      - 'README.md'
      - 'LICENSE'
  pull_request:
    branches: [master]
    paths-ignore:
      - 'doc/**'
      - '.gitignore'
      - 'README.md'
      - 'LICENSE'

permissions:
  contents: read

jobs:
  Coverage_Testing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: master
          fetch-depth: 0   # recommended for Codecov

      - name: Install Clang/LLVM + deps
        run: |
          sudo apt-get update
          sudo apt-get install -y clang llvm llvm-dev libclang-dev lcov python3-pip git xvfb \
                                  libgl1-mesa-dev libx11-dev libxi-dev libxrandr-dev libxinerama-dev libxcursor-dev
          CLANG_MAJOR=$(clang -dumpversion | cut -d. -f1 || true)
          if [ -n "$CLANG_MAJOR" ]; then
            sudo apt-get install -y "libclang-rt-${CLANG_MAJOR}-dev" || true
          fi

      - name: Configure (Clang + LLVM source-based coverage)
        env:
          CC: clang
          CXX: clang++
        run: |
          cmake -S . -B build \
            -DCMAKE_BUILD_TYPE=Debug \
            -DUSE_EZ_LIBS_TESTING=ON \
            -DUSE_CODE_COVERAGE=ON \
            -DCOVERAGE_VERBOSE=ON \
            -DUSE_EZ_EXPR_PERFOS_GENERATION=ON

      - name: Builf forceCover
        run: cmake --build build --target forceCover -j 12
        
      - name: Run forceCover
        run: cmake --build build --target forcecover_prep -j 12

      - name: Build tests
        run: cmake --build build -j 12

      - name: Generate coverage
        run: |
          xvfb-run --auto-servernum cmake --build build --target cov -j 12
          mkdir -p build/coverage_web
          cp -r build/Tests/coverage_lcov/* build/coverage_web/
          
      - name: upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: coverage_bundle.tar.gz
          path: build/Tests/coverage_bundle.tar.gz

      - name: Setup web pages
        uses: actions/configure-pages@v5

      - name: Upload coverage web pages
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./build/coverage_web

  deploy-coverage:
    runs-on: ubuntu-latest
    needs: Coverage_Testing
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy Coverage web pages to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
