name: Code Coverage

on:
  push:
    branches: [master]
    paths-ignore:
      - 'doc/**'
      - '.gitignore'
      - 'README.md'
      - 'LICENSE'
  pull_request:
    branches: [master]
    paths-ignore:
      - 'doc/**'
      - '.gitignore'
      - 'README.md'
      - 'LICENSE'
      -
permissions:
  contents: read

jobs:
  Coverage_Testing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: master
      - name: Install Dependencies
        run : sudo apt-get update && sudo apt-get install libgl1-mesa-dev libx11-dev libxi-dev libxrandr-dev libxinerama-dev libxcursor-dev lcov
      - name: configure
        run: mkdir build && cd build && cmake .. -DCMAKE_BUILD_TYPE=Debug -DUSE_EZ_LIBS_TESTING=ON -DUSE_CODE_COVERAGE=ON -DUSE_EZ_EXPR_PERFOS_GENERATION=ON
      - name: build
        run: cmake --build build --config Debug
      - name: ctest
        run: ctest --test-dir build --output-on-failure
      - name: Install gcovr
        run: pip install gcovr==8.2
      - name: generate coverage
        run: cmake --build build --config Debug --target cov && mkdir -p ./build/coverage_web && mv ./build/Tests/coverage.html ./build/coverage_web/index.html
      - name: Setup web pages
        uses: actions/configure-pages@v3
      - name: Upload coverage web pages
        uses: actions/upload-pages-artifact@v1
        with:
          path: ./build/coverage_web
      - name: Upload coverage xml to Codecov
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          disable_search: true
          files: ./build/Tests/coverage.xml
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true

  deploy-coverage:
    runs-on: ubuntu-latest
    needs: Coverage_Testing
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy Coverage web pages to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2
